
.column {
    float: left;
}

.left {
    width: 10%;
    margin-left: 1%;
}

#plaats{
    margin: 20px 0 0;
}

.right {
    height: 100%;
    margin-left: 1%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*.card {
    background: #fff;
    border-radius: 2px;
    height: 405px;
    margin: 1rem;
    position: relative;
    width: 720px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    align: left;
}*/

.location-image {
    width: 100%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.detailed-image {
    width: 720px;
    height: 405px;
    border-radius: 5px;
    margin: 30px;
    border: 3px solid #B81A04;
    float: left
}

.location-title {
    display: inline;
}
#itemright{
    min-width: 150px;
    max-width: 200px;
    float: left;
}

.country-name{
    font-size: 50px;
    font-style: italic;
    color: #D81E05;
    font-family: 'Open Sans', Helvetica, sans-serif;
    float: left;
}

.images{
    margin: 10px;
    text-align: left;
}

.information{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
    float: left;
    width: 75%;
}

.description{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
}

.link-partner{
    color: #005DB8;
    font-size: 25px;
    margin: 0;
}

.button{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-style: italic;
    float: left;
    border: none;
    color: white;
    padding: 20px;
    font-size: 30px;
    background-color: #D81E05;
    border-radius: 5px;
    margin-right: 50px;
    cursor: pointer;
}

.prijs{
    float: left;
    margin-right: 50px;
    font-size: 40px;
    font-style: italic;
    color: #D81E05;
}

.button:hover{
    background-color: #B81A04;
}

.filter-button{
    background-color: lawngreen;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;

}

.filter-button:hover{
    cursor: pointer;
    background-color: limegreen;
}


#content{
    margin: 0 auto;
    width: 70%;
    background-color: white;
}

.background{
    background-image: url("../Resources/strand.jpg");
    background-repeat: no-repeat;
    width: 100%;
}
