html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Helvetica,sans-serif;
}

.background{
    background: url("../Resources/strand.jpg") no-repeat;
}

#error-message2{
    font-style: italic;
    color: #D81E05;
    text-align: left;
    font-weight: bold;
}

.login-zin{
    color: grey;
    font-style: italic;
}

#content{
    margin: 0 auto;
    width: 60%;
    background-color: white;
    height: 100%;
}

.outer-box{
    margin: 0 auto;
    width: 80%;
}
.wachtwoord-vergeten{
    font-style: italic;
    font-size: 40px;
    color: #D81E05;
    text-align: left;
}
.email-titel{
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    padding-top: 40px;
    margin-bottom: 0;
}
a.buttons{
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
    color: white;
}


button:hover{
    color: white;
    text-decoration: none;
    background-color: green;
}


p.go-back{
    color: grey;
    font-style: italic;
    transition: color 0.5s;
    text-align: center;

}

input {
    border: 2px solid lightgray;
    border-radius: 5px;
    color: dimgray;
    height: 40px;
    font-size: large;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    outline: none;
    transition: border-color 0.25s, box-shadow 0.3s;
    font-style: italic;
}

input:focus{
    color: black;
    font-style: normal;
    border-color: lightskyblue;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.go-back:hover{
    color: black;
}

button {
    width: 80%;
    font-size: large;
    cursor: pointer;
    border: none;
    background-color: limegreen;
    color: white;
    margin: auto auto 20px;
    display: block;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 10px;
    font-style: italic;
    transition: background-color 0.5s;
    outline: none;
}

a{
    text-decoration: none;
}
